@media screen and (max-width: 992px){
    section.height-auto{
        padding: 60px 30px;
    }
    section.height-auto .stone-item .detail{
        opacity: 1;
    }
    section.height-auto .stone-item{
        width: 33.3333%;
    }
    .owl-carousel .owl-stage{
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        transform: translateX(30px);
    }
    .prev{
        left: 50px;
    }
    section.height-auto .stone-item.detail{
        opacity: 1;
    }
    .item-carousel .stone-item{
        opacity: 1;
    }

    #top .flex-col{
        display: block;
    }
    #top .nav{
        padding-top: 30px;
    }
    .mouse-icon{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .about-box{
        position: relative;
    }
    .about-box .about-image,
    .about-box .logo-title{
        float: left;
        height: 30vh;
    }
    .about-box .about-image{
        width: 40%;
    }
    .about-box .logo-title{
        position: absolute;
        width: 60%;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%);
    }
    .abs-alert{
        width: 95%;
    }
    .top-link{
        display: none !important;
    }
    #top{
        display: flex !important;
    }
    .navigation,
    .flex{
        display: inline-block !important;
        width: 100%;
        text-align: left;
        padding-top: 15px;
    }
    section.flex{
        min-height: 100vh;
        height: auto;
        padding: 0 0 100px;
    }
    .flex-inner{
        padding-top: 50px;
    }
    #contact .flex-inner{
        padding-top: 0;
    }
    .item-carousel{
        height: auto;
        display: inline-block;
    }
    .top-box{
        max-width: 100%;
        text-align: center;
    }
    .top-box .flex-inner{
        text-align: center;
    }
    #contact{
        position: relative;
        display: block;
        overflow: hidden;
        min-height: 100vh;
        padding: 15px;
        height: auto!important;
    }
    #contact .navigation .navigation-top{
        left: 0;
    }
    .top-link{
        display: block;
        width: 100%;
        padding-right: 0;
    }
    .top-link > div{
        margin-top: 15px;
        float: right;
    }
    .contact-form .inner-box .form-group{
        width: 50%;
    }
    .navigation-link{
        height: 50px!important;
    }
    .social-nav{
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
        padding: 0;
        width: 100%;
    }
    .flex-inner{
        width: 100%;
    }
    .social-nav li{
        margin-bottom: 5px;
    }
    .social-nav li a span{
        display: none;
    }
    section.height-auto .box-inner .item-carousel{
        padding-top: 50px;
    }
    .navigation-top{
        position: relative;
        top: 0px !important;
        display: inline-block;
    }
    .navigation-bottom.copy-right{
        width: 100%;
        margin-top: 30px;
        text-align: right;
    }
    .contact-form .inner-box .left-box,
    .contact-form .inner-box .buttons-box{
        width: 100%;
        padding: 15px;
    }
    .contact-form .inner-box .buttons-box{
        padding: 15px 21px;
    }
    .contact-form .inner-box header{
        height: auto;
    }
    .contact-form .text{
        width: 100%;
        padding-right: 100px;
    }
    .navigation-bottom.info .detail-box ul li{
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }
    .navigation-bottom.copy-right,
    .navigation-bottom.info{
        display: block !important;
        left: 0 !important;
        position: relative;
        top: 0;
    }
    .map-box{
        margin: 15px -15px;
        width: auto;
        height: auto;
        text-align: center;
        padding-top: 300px;
    }
    .map-box > a{
        height: 300px;
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .map-box > a:before{
        content: "Touch to see";
        font-size: 50px;
        opacity: 1;
    }
    .navigation-bottom,
    .contact-form{
        display: inline-block;
        position: relative;
        width: 100%;
    }
    #show-stone-modal .detail-box{

    }
    #show-stone-modal .image-box {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 80px;
        right: 0;
        top: 0;
        overflow: visible;
        transform: none !important;
    }
    #show-stone-modal .modal-dialog{
        height: 100%;
    }
    #show-stone-modal,
    #show-stone-modal .modal-body{
        top: auto;
        bottom: 0;
        height: 100%;
        overflow: hidden !important;
    }
    #show-stone-modal .image-box img{
        position: absolute;
        bottom: 0;
        transform: none !important;
        left: 0;
    }
    #show-stone-modal .detail-box {
        position: absolute;
        bottom: -80px;
        right: 0;
        border-radius: 0;
        left: 0;
        height: 80px;
        top: auto;
    }
    .logo-modal{
        right: 0;
    }
    .logo-modal.logo-fade{
        top: auto;
        bottom: 0;
        height: 50%;
        background-size: 80% auto;
        background-position: center bottom;
    }
    #show-stone-modal .navigation .next{
        right: 25px;
    }
    #show-stone-modal .navigation .prev{
        left: 25px;
    }

    #show-stone-modal .navigation .next{
        right: 25px;
    }
    #show-stone-modal .navigation .prev{
        left: 25px;
    }
    section.height-auto{
        padding: 60px 15px;
    }
    section.height-auto .stone-item{
        width: 50%;
    }
    .section-right-border{
        overflow: hidden;
    }
    .navigation-bottom{
        display: none;
    }
    .section-right-border:before{
        display: none;
    }
    .navigation-bottom.info,
    .navigation-top{
        left: 10px;
    }
    .navigation-bottom{
        right: 10px;
    }
    .navigation-bottom.left{
        left: 10px;
        right: auto;
    }
    .navigation-back,
    .menu-trigger{
        right: 15px !important;
    }
    .navigation .nav{
        right: 10px !important;
        height: auto !important;
        display: inline-block !important;
        visibility: hidden;
        opacity: 0;
        border-radius: 10px;
        border: 1px solid #666;
        background-color: rgba(0,0,0,0.7);
        padding: 15px;
        padding-top: 35px;
        z-index: 100;
        max-height: 50vh;
        overflow-y: auto;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navigation .nav.open{
        visibility: visible;
        opacity: 1;
    }
    .navigation .nav li{
        display: block;
        overflow: hidden;
        float: none;
    }
    .navigation .nav li a{
        padding:5px;
    }
    .navigation .nav li *{
        opacity: 1 !important;
    }
    .logo{
        width: 100%;
        background-size: contain;
    }
    .top-box{
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    #top .logo{
        width: 80%;
    }
    .header .nav li a{
        width: 200px;
    }
    #top .flex-inner{
        width: 100%;
    }
    #about .flex-col{
        display: block;
    }
    .about-image{
        height: 30vh;
        width: 200px;
    }
    #about .text{
        margin-top: 15px;
        padding: 0;
    }
    .top-box .nav li{
        display: block;
        text-align: center;
        float: none;
    }
    #top .nav{
        padding-top: 0;
        padding-bottom: 30px;
    }
    .about-box{
        padding: 0;
    }
    .navigation-bottom.info,
    .navigation-top{
        left: 15px;
    }
    .navigation-bottom{
        right: 15px;
    }
    .navigation-bottom.left{
        right: auto;
        left: 15px;
    }
    .logo-title{
        font-size: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    section.height-auto .stone-item{
        width: 33.3333%;
    }
    .navigation-bottom.copy-right{
        margin-bottom: 30px;
    }
    .social-nav{
        right: 30px;
        padding-right: 0;
    }
    .navigation-bottom.info .detail-box ul li{
        margin-right: 15px;
    }
    .navigation-bottom.info{
        left: 30px;
    }
    .contact-form .left-box,
    .contact-form .text{
        width: 75%;
    }
    .contact-form .inner-box .buttons-box{
        width: 25%;
    }
    .nav>li>a{
        padding: 10px;
    }
    .navigation-top{
        left: 30px;
    }
    .navigation-back,
    .navigation-bottom{
        right: 30px;
    }
    .navigation-bottom.left{
        left: 30px;
        right: auto;
    }
    .about-image{
        background-size: contain;
        width: 20vw;
        height: 60vh;
    }
    .about-box .flex-inner{
        padding-left: 30px;
    }
    #about .text {
        padding-right: 70px;
    }
    .contact-form .buttons-box button{
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .about-image{
        background-size: contain;
        width: 20vw;
        height: 60vh;
    }
    .about-box .flex-inner{
        padding-left: 30px;
    }
    #about .text {
        padding-right: 70px;
    }
    .contact-form .buttons-box button{
        width: 100%;
    }
}
@media (min-width: 1200px){}
@media (max-height: 600px) and (min-width: 768px){
    .item-carousel .stone-item img{
        width: 200px;
        height: 200px;
    }
}